<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/assets/bootstrap/css/mdb.min.css" />
    <link rel="shortcut icon" href="/images/firma-digital.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Firma digital | Chat</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-xl-3">
          <div class="row">
            <div
              class="col d-flex flex-nowrap justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center py-2"
              style="background: rgba(0, 0, 0, 0.5); height: 4rem"
            >
              <h5 class="mr-auto my-auto text-light">Firma Digital | Chat</h5>
            </div>
          </div>
          <div class="row px-3 py-2">
            <div class="col">
              <button
                class="btn btn-outline-light btn-block"
                type="button"
                id="btnSignatureView"
              >
                <i class="fas fa-folder-plus"></i> Firmar Documento
              </button>
            </div>
          </div>
          <div class="row px-3 py-2">
            <div class="col">
              <button
                class="btn btn-outline-info btn-block"
                type="button"
                id="btnVerifyView"
              >
                <i class="fas fa-folder-plus"></i> Verificar documento
              </button>
            </div>
          </div>
          <div class="row px-3 py-2">
            <div
              class="col"
              style="
                border-radius: 25px;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
              "
            >
              <form class="d-flex align-items-center px-2">
                <i class="fas fa-search fa-lg"></i
                ><input
                  class="shadow-none form-control flex-shrink-1"
                  type="search"
                  placeholder="Buscar un chat"
                  style="
                    border-radius: 13px;
                    border-style: none;
                    background: transparent;
                  "
                />
              </form>
            </div>
          </div>
          <div class="row">
            <div
              class="col"
              style="
                overflow-y: auto;
                height: auto;
                max-height: calc(100vh - 220px);
              "
            >
              <ul class="list-unstyled mb-0" id="users-connected"></ul>
            </div>
          </div>
        </div>
        <div class="col d-block d-sm-block d-md-block d-lg-block d-xl-block">
          <div class="row">
            <div
              class="col d-flex justify-content-between align-items-lg-center align-items-xxl-center border-start border-muted"
              style="background: rgba(0, 0, 0, 0.5); height: 4rem"
            >
              <h5 class="mr-auto my-auto text-light">Chat global</h5>
              <button class="btn btn-outline-danger" type="button" id="logout">
                Cerrar sesión
              </button>
            </div>
          </div>
          <div
            class="row px-3 py-2 border-start border-muted"
            style="min-height: calc(100vh - 150px)"
          >
            <div
              class="col"
              style="overflow-y: auto; max-height: calc(100vh - 170px)"
            >
              <div class="d-flex flex-row h-100">
                <div
                  id="all-messages"
                  class="w-100 d-flex flex-column justify-content-end"
                ></div>
              </div>
            </div>
          </div>
          <div
            class="row px-3 py-2"
            style="background: rgba(95, 107, 123, 0.2); display: none;"
          >
            <ul class="list-unstyled d-flex" id="selected-files">

            </ul>
          </div>
          <div
            class="row px-3 py-2"
            style="background: rgba(95, 107, 123, 0.2)"
          >
            <div class="col-xl-1 col-sm-1 col-1">
              <div class="image-upload h-100 d-flex align-items-center">
                <label
                  for="file-multiple"
                  class="btn btn-outline-light h-100 d-flex align-items-center"
                >
                  <i class="fas fa-file"></i>
                </label>
                <input id="file-multiple" multiple type="file" />
              </div>
            </div>
            <div class="col-xl-10 col-sm-10 col-10" style="padding: 0">
              <!--<textarea class="w-100 h-100"></textarea>-->
              <input
                type="text"
                class="form-control form-control-lg"
                id="message"
                name="message"
                placeholder="Escribe un mensaje"
              />
            </div>
            <div class="col-xl-1 col-sm-1 col-1">
              <button
                class="btn btn-light h-100 m-auto"
                type="button"
                id="send-message"
                style="border-radius: 10px"
              >
                <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/bootstrap/js/mdb.min.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/generalChat.js"></script>
  </body>
</html>
