<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/assets/bootstrap/css/mdb.min.css" />
    <link rel="shortcut icon" href="/images/firma-digital.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Firma digital | Chat</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-xl-3">
          <div class="row">
            <div
              class="col d-flex flex-nowrap justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center py-2"
              style="background: rgba(0, 0, 0, 0.5); height: 4rem"
            >
              <h5 class="mr-auto my-auto text-light">Firma Digital | Chat</h5>
            </div>
          </div>
          <div class="row px-3 py-2">
            <div
              class="col"
              style="
                border-radius: 25px;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
              "
            >
              <form class="d-flex align-items-center px-2">
                <i class="fas fa-search fa-lg"></i
                ><input
                  class="shadow-none form-control flex-shrink-1"
                  type="search"
                  placeholder="Buscar un chat"
                  style="
                    border-radius: 13px;
                    border-style: none;
                    background: transparent;
                  "
                />
              </form>
            </div>
          </div>
          <div class="row">
            <div
              class="col"
              style="
                overflow-y: auto;
                height: auto;
                max-height: calc(100vh - 120px);
              "
            >
              <ul class="list-unstyled mb-0" id="users-connected"></ul>
            </div>
          </div>
        </div>
        <div class="col d-none d-sm-none d-md-none d-lg-block d-xl-block">
          <div class="row">
            <div
              class="col d-flex justify-content-between align-items-lg-center align-items-xxl-center border-start border-muted"
              style="background: rgba(0, 0, 0, 0.5); height: 4rem"
            >
              <h5 class="mr-auto my-auto text-light" id="username-chat"></h5>
              <button class="btn btn-outline-danger" type="button" id="logout">
                Cerrar sesión
              </button>
            </div>
          </div>
          <div
            class="row px-3 py-2 border-start border-muted"
            style="min-height: calc(100vh - 150px)"
          >
            <div
              class="col"
              style="overflow-y: auto; max-height: calc(100vh - 170px)"
            >
              <div class="d-flex flex-row h-100">
                <div
                  id="all-private-messages"
                  class="w-100 d-flex flex-column justify-content-end"
                ></div>
              </div>
            </div>
          </div>
          <div class="row px-3 py-2" style="background: rgba(52, 58, 64, 0.2)">
            <div
              class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-10"
              style="padding: 0"
            >
              <!--              <textarea class="w-100 h-100"></textarea>-->
              <input
                type="text"
                class="form-control form-control-lg"
                id="message"
                name="message"
                placeholder="Escribe un mensaje"
              />
            </div>
            <div
              class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-nowrap d-md-flex justify-content-md-end p-0"
            >
              <button
                class="btn h-100 mx-auto"
                type="button"
                style="border-radius: 10px"
              >
                <i class="far fa-image"></i></button
              ><button
                class="btn btn-light h-100 w-auto"
                type="button"
                id="send-private-message"
                style="border-radius: 10px"
              >
                <i class="fab fa-telegram-plane"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js"
      integrity="sha512-/l6vieC+YxaZywUhmqs++8uF9DeMvJE61ua5g+UK0TuHZ4TkTgB1Gm1n0NiA86uEOM9JJ6JUwyR0hboKO0fCng=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/assets/bootstrap/js/mdb.min.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/privateChat.js"></script>
  </body>
</html>
